<div class="header-wrapper">
<div class="main-wrapper-fixed headerwrapper">
    <span class="header-left floatleft">
      <a href="/"> <img src="../../assets/VLC_logo.png" alt="Logo VLC" id="logo" title="VLC" /> </a>
    </span>
    <div class="header-right floatright">
    <div class="menutoggle"> MENU </div>

    <ul class="menu_ulist">
    <% if (params[:action].split("/")[0] == "home") %>
        <li class="navi-menu homemenu <%= (params[:action] and params[:action].split("/")[0]) == "home" ? 'homeactive' :'homeinactive' %>">
          <a href="/"> <img src="../../assets/home_icon.png" alt="Home" title="Home"/></a>
        </li>
    <% else %>
        <li class="navi-menu homemenu <%= (params[:action] and params[:action].split("/")[0]) == "home" ? 'homeactive' :'homeinactive' %>">
          <a href="/"> <img src="../../assets/home_icon01.png" alt="Home" title="Home"/></a>
        </li>
    <% end %>
    <li class="navi-menu consultingservices <%= (params[:path] and params[:path].split("/")[0]) == "services" ? 'menuActive' :'' %>">
      <a href="/services" title="Consulting Services"> Consulting Services</a>
      <div class="header-submenu-wrap">
        <div class="sublink-multiple-dropdown-outer">
          <div class="sublink-multiple-wrapper">
            <div class="fulldivmenu">
              <div class="menudiv50">
                <a href="/services"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/overview.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/overview01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Overview</h1>
                  </div>
                </div>   </a>
              </div>

              <div class="menudiv50">
                <a href="/services/forecasting">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/demand_forecasting.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/demand_forecasting01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Demand Forecasting</h1>
                  </div>
                </div></a>
              </div>

              <div class="menudiv50">
                <a href="/services/planning">   <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/transport_planning.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/transport_planning01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Transport Planning</h1>
                  </div>
                </div> </a>
              </div>


              <div class="menudiv50">
                <a href="/services/landuse">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/land_use.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/land_use01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Land Use & Demographic Forecasting </h1>
                  </div>
                </div></a>
              </div>

              <div class="menudiv50">
                <a href="/services/other"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/other_services.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/other_services01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Other Services</h1>
                  </div>
                </div> </a>
              </div>



            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="navi-menu consultingservices <%= (params[:path] and params[:path].split("/")[0]) == "zenith" ? 'menuActive' :'' %>">
      <a href="/zenith" title="Zenith Transport Models"> Zenith Transport Models</a>
      <div class="header-submenu-wrap">
        <div class="sublink-multiple-dropdown-outer">
          <div class="sublink-multiple-wrapper">
            <div class="fulldivmenu">
              <div class="menudiv50">
                <a href="/zenith"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Overview.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Overview01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Overview</h1>
                  </div>
                </div>
                </a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/whatsnew">   <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/What's-New.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/What's-New01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>What’s New</h1>
                  </div>
                </div> </a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/features"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Features.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Features01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Features</h1>
                  </div>
                </div> </a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/markets">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Markets.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Markets01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Markets</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/projects">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Projects.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Projects01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Projects</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/documentation">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Documentation.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Documentation01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Documentation</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/licensing">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Licensing.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Licensing01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Licensing</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/trafficestimates">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Traffic-Estimates.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Traffic-Estimates01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Traffic Estimates</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/randd">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/R&D.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/R&D01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>R & D</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/zenith/support">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Support.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Support01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Support</h1>
                  </div>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="navi-menu consultingservices <%= (params[:path] and params[:path].split("/")[0]) == "outdoor" ? 'menuActive' :'' %>">

      <a href="/outdoor" title="Outdoor Audience Measurement"> Outdoor Audience Measurement</a>

      <div class="header-submenu-wrap">
        <div class="sublink-multiple-dropdown-outer">
          <div class="sublink-multiple-wrapper">
            <div class="fulldivmenu">
              <div class="menudiv50">
                <a href="/outdoor"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Overview.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Overview01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Overview</h1>
                  </div>
                </div>
                </a>
              </div>
              <div class="menudiv50">
                <a href="/outdoor/design">   <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Design-&-Methodology.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Design-&-Methodology01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Design & Methodology</h1>
                  </div>
                </div> </a>
              </div>
              <div class="menudiv50">
                <a href="/outdoor/accuracy"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/accuracy.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/accuracy01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Accuracy</h1>
                  </div>
                </div> </a>
              </div>
              <div class="menudiv50">
                <a href="/outdoor/research">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Research-&-Partners.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Research-&-Partners01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Research & Partners</h1>
                  </div>
                </div></a>
              </div>

              <div class="menudiv50">
                <a href="/outdoor/contact">
                  <div class="submenu-box">
                    <div class="imagebox">
                      <img class="showImage" src="../../assets/Contact-Us.png"  alt="01image"/>
                      <img class="hideImage" src="../../assets/Contact-Us01.png"  alt="01image"/>
                    </div>
                    <div class="submenubox">
                      <h1>Contact</h1>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="navi-menu consultingservices <%= (params[:path] and params[:path].split("/")[0]) == "company" ? 'menuActive' :'' %>">
      <a href="/company" title="Company">Company</a>
      <div class="header-submenu-wrap">
        <div class="sublink-multiple-dropdown-outer">
          <div class="sublink-multiple-wrapper">
            <div class="fulldivmenu">
              <div class="menudiv50">
                <a href="/company"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Overview.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Overview01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Overview</h1>
                  </div>
                </div>
                </a>
              </div>
              <div class="menudiv50">
                <a href="/company/history">   <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/History.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/History01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>History</h1>
                  </div>
                </div> </a>
              </div>
              <div class="menudiv50">
                <a href="/company/customers"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Customers.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Customers01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Customers</h1>
                  </div>
                </div> </a>
              </div>

              <div class="menudiv50">
                <a href="/company/careers">  <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/Careers.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/Careers01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>Careers</h1>
                  </div>
                </div></a>
              </div>
              <div class="menudiv50">
                <a href="/news"> <div class="submenu-box">
                  <div class="imagebox">
                    <img class="showImage" src="../../assets/news.png"  alt="01image"/>
                    <img class="hideImage" src="../../assets/news01.png"  alt="01image"/>
                  </div>
                  <div class="submenubox">
                    <h1>News</h1>
                  </div>
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="navi-menu <%= (params[:path] and params[:path].split("/")[0]) == "contact" ? 'menuActive' :'' %>">
      <a href="/contact" title="Contact"> Contact</a>
    </li>
    </ul>
    </div>
</div>
</div>

<style>
    .menuActive{
        background: none repeat scroll 0 0 #FF7800;

    }
    .menuActive a{
        color:#ffffff ;
    }
</style>