<!DOCTYPE html>
<html>
  <head>
    <title>VLC</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%#= stylesheet_link_tag    "application" %>
<%#= javascript_include_tag "application", "jquery" %>

<%#=stylesheet_link_tag  "styles_1024", :media => "only screen and (max-width: 1024px)" %>
<%#=stylesheet_link_tag  "styles_480", :media => "only screen and (max-width: 480px)" %>
<%#=stylesheet_link_tag  "styles_480", :media => "only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)" %>

    <%= render '/refinery/head' %>

    <%= csrf_meta_tags %>

  </head>
  <body  >
    <div class="main-wrapper">
      <%= render "/refinery/header" %>
      <%= yield %>
      <%= render "/refinery/footer" %>
    </div>
  </body>




</html>
