<!DOCTYPE html>
<html>
<head>
  <title>VLC</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body  >
<div class="main-wrapper">
  <%= render "/refinery/header" %>
  <%= yield %>
  <%= render "/refinery/footer" %>
</div>

</body>




</html>
