<!DOCTYPE html>
<html>
<head>
  <title>VLC</title>
<%#*<script src="http://code.jquery.com/jquery-1.9.0.js"></script>%>
  <!-- <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script> -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%#= stylesheet_link_tag    "application" %>
<%#= javascript_include_tag "application", "jquery" %>

<%#=stylesheet_link_tag  "styles_1024", :media => "only screen and (max-width: 1024px)" %>
<%#=stylesheet_link_tag  "styles_480", :media => "only screen and (max-width: 480px)" %>
<%#=stylesheet_link_tag  "styles_480", :media => "only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)" %>
  <%= render '/refinery/head' %>
  <%= csrf_meta_tags %>
</head>
<body  >
<div class="main-wrapper">
  <%= render "/refinery/header" %>

  <%= render "/shared/banner" %>


  <div class="mainContent-wrapper">
    <div class="main-wrapper-fixed contentwrapper">
      <div class="contentfulll">

        <%= render "/shared/sidemenu" %>

        <div class="sidebarmenu newsidebarmenu">
          <div class="sidebarmenuheading">
            <h1>Consulting Services</h1>
          </div>
          <%= render :partial => '/refinery/menu', :locals => {
                  :roots => refinery_menu('forecasting_menu') } %>
        </div>

      </div>
    </div>
  </div>

  <%= render "/refinery/footer" %>
</div>


</body>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-25053622-1', 'veitchlister.com.au');
    ga('send', 'pageview');

</script>
</html>


